<%= render 'welcome/bread' %>

<div class="container">

<%= link_to "Nuevo Video", new_video_path, class: "button button_primary" %>

<div id="formario">

<h1>Videos</h1>
<br>
<div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>disponible</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.disponible %></td>
        <td><%= video.link %></td>
        <td><%= link_to 'Ver más', video %></td>
        <td><%= link_to 'Editar', edit_video_path(video) %></td>
        <td><%= link_to 'Eliminar', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

</div>
</div>
