<section>
	<nav>
		<ol class="cd-breadcrumb custom-separator">
			<li class="<%= 'current' if current_page?(news_index_path) %>"><a href="<%= news_index_path %>">Noticias</a></li>
			<li class="<%= 'current' if current_page?(new_news_path) %>"><a href="<%= new_news_path %>">Nueva Noticia</a></li>

			<li class="<%= 'current' if current_page?(galleries_path) %>"><a href="<%= galleries_path %>">Galería</a></li>
			<li class="<%= 'current' if current_page?(new_gallery_path) %>"><a href="<%= new_gallery_path %>">Nueva Foto</a></li>

			<li class="<%= 'current' if current_page?(musics_path) %>"><a href="<%= musics_path %>">Musica</a></li>
			<li class="<%= 'current' if current_page?(new_music_path) %>"><a href="<%= new_music_path %>">Nueva Canción</a></li>


			<li class="<%= 'current' if current_page?(tours_path) %>"><a href="<%= tours_path %>">Tours</a></li>
			<li class="<%= 'current' if current_page?(new_tour_path) %>"><a href="<%= new_tour_path %>">Nuevo tour</a></li>

			<li class="<%= 'current' if current_page?(fans_path) %>"><a href="<%= fans_path %>">Fan Zone</a></li>
			<li class="<%= 'current' if current_page?(new_fan_path) %>"><a href="<%= new_fan_path %>">Nueva Fecha</a></li>

			<li class="<%= 'current' if current_page?(videos_path) %>"><a href="<%= videos_path %>">Videos</a></li>
			<li class="<%= 'current' if current_page?(new_video_path) %>"><a href="<%= new_video_path %>">Nuevo Video</a></li>
		</ol>
	</nav>
</section> <br><br>