<div class="hero">

<video playsinline autoplay muted loop poster="cover2.png" id="bgvideo" width="x" height="y" class="hidden-xs">
<source src="images/video_home.mp4" type="video/mp4">
</video>

	<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div id="banner_1">
				<h1 class="subtitle white">El Crooner</h1>
				<h2 class="title white"> de esta generación</h2>
			</div>
		</div>
	</div>
	</div>
</div>
<div id="pinta">
</div>


<div id="section" class="black">
	<div class="container">
			<h1 class="big_title">Mike Bonza Tour</h1>
			<hr class="left">

	<% @tours.each_with_index do |tour, i| %>
<div class="row">
<div class="col-md-8">
<div id="touri">
	<h3 class="bold"><%=tour.fecha %></h3> <br>
	<h3><%=tour.lugar %></h3>
	<%= link_to "Más información", tour.link, class: "button button_white" %>
</div>
</div>
</div>
	<% end %> <br><br>
  <%= link_to "TODO EL TOUR DE MIKE BONZA", bonza_tour_path, class: "butra_white" %>  
	</div>
</div>



<div id="section" class="">
	<div class="container">
		<div class="row">
			<h1 class="big_title_der">Galería</h1>
			<hr class="right">

    <div id="insta">

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-1b74fc62-66f2-4b03-8f92-0025e7e7336c"></div>
    </div>

  <%= link_to "Sígueme en Instagram", "https://www.instagram.com/themikebonza", class: "butra" %>  

		</div>
	</div>
</div>