<div class="container center">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, magni? Molestiae at quia vitae eius tenetur saepe dolor dolorum quod perferendis eum, magnam explicabo reiciendis ex totam amet, illum, consequuntur.</p>
</div>


<div id="hex">
	<div class="container">
		<div class="row">

			
			<%= link_to noticias_path do %>
			<div class="col-sm-6 col-xs-6">
				<div id="hexi" class="hexi-1">
				<h2>Noticias</h2>
			</div>
			</div>
			<% end %>

			<div class="col-sm-2 col-xs-6">
				<div id="hexi" class="hexi-2">
				<h3></h3>
			</div>
			</div>

			<%= link_to fanzone_path do %>
			<div class="col-sm-4 col-xs-6">
				<div id="hexi" class="hexi-3">
				<h2>Fanzone</h2>
			</div>
			</div>
			<% end %>

		</div>

		<div class="row">

			<%= link_to biografia_path do %>
			<div class="col-sm-5 col-sm-offset-5 col-xs-6">
				<div id="hexi" class="hexi-12">
				<h2>Biografía</h2>
			</div>
			</div>
			<% end %>

			<div class="col-sm-2 col-xs-6">
				<div id="hexi" class="hexi-12">
				<h3></h3>
			</div>
			</div>

		</div>

		<div class="row">

			<%= link_to galeria_path do %>			
			<div class="col-sm-3 col-xs-6">
				<div id="hexi" class="hexi-21">
				<h2>Galería</h2>
			</div>
			</div>
			<% end %>

			<%= link_to bonza_videos_path do %>
			<div class="col-sm-5 col-xs-6">
				<div id="hexi" class="hexi-2">
				<h2>Videos</h2>
			</div>
			</div>
			<% end %>

			<%= link_to musica_path do %>
			<div class="col-sm-4 col-xs-6">
				<div id="hexi" class="hexi-31">
				<h2>Música</h2>
			</div>
			</div>
			<% end %>

		</div>


		<div class="row">

			
			<%= link_to bonza_tour_path do %>
			<div class="col-sm-3 col-xs-6">
				<div id="hexi" class="hexi-60">
				<h2>Tour</h2>
			</div>
			</div>
			<% end %>

			<div class="col-sm-2 col-xs-6">
				<div id="hexi" class="hexi-2">
				<h3></h3>
			</div>
			</div>

			<%= link_to new_contact_path do %>
			<div class="col-sm-4 col-xs-6">
				<div id="hexi" class="hexi-30">
				<h2>Contrataciones</h2>
			</div>
			</div>
			<% end %>

			<div class="col-sm-2 col-xs-6">
				<div id="hexi" class="hexi-31">
				<h3></h3>
			</div>
			</div>

		</div>

	</div>
</div>