<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :disponible %>
    <%= form.check_box :disponible, id: :experience_disponible %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :news_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :news_content %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :news_fecha %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :news_link %>
  </div>

  <div class="field">
    <%= form.label :foto1 %>
    <%= form.file_field :foto1, id: :news_foto1 %>
  </div>

  <div class="field">
    <%= form.label :foto2 %>
    <%= form.file_field :foto2, id: :news_foto2 %>
  </div>

  <div class="field">
    <%= form.label :foto3 %>
    <%= form.file_field :foto3, id: :news_foto3 %>
  </div>

  <div class="actions">
    <%= form.submit class: "button button_primary"%>
  </div>
<% end %>
