<%= form_with(model: tour, local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :disponible %>
    <%= form.check_box :disponible, id: :experience_disponible %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :tour_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :tour_content %>
  </div>



  <div class="field">
    <%= form.label :lugar %>
    <%= form.text_field :lugar, id: :tour_lugar %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.text_field :fecha, id: :tour_fecha %>
  </div>

  <div class="field">
    <%= form.label :fecha_para_ordenamiento %>
    <%= form.text_field :fecha_inicio, id: :tour_fecha %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :tour_link %>
  </div>


  <div class="actions">
    <%= form.submit class: "button button_primary" %>
  </div>
<% end %>
