<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tour.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tour.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tour.content %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @tour.lugar %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @tour.fecha %>
</p>

<p>
  <strong>Foto7:</strong>
  <%= @tour.foto7 %>
</p>

<p>
  <strong>Foto8:</strong>
  <%= @tour.foto8 %>
</p>

<p>
  <strong>Foto9:</strong>
  <%= @tour.foto9 %>
</p>

<p>
  <strong>Link:</strong>
  <%= @tour.link %>
</p>

<p>
  <strong>Video:</strong>
  <%= @tour.video %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
