<%= render 'welcome/bread' %>

<div class="container">

<%= link_to "Nueva Canción", new_music_path, class: "button button_primary" %>

<div id="formario">

<h1>Música</h1>

<div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>disponible</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.disponible %></td>
        <td><%= music.link %></td>
        <td><%= link_to 'Ver más', music %></td>
        <td><%= link_to 'Editar', edit_music_path(music) %></td>
        <td><%= link_to 'Eliminar', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

</div>
</div>

